.page-wrap {
    padding: 10px 0 25px 0;
    background-color: #ffffff;
}

.pay-tips {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.pay-tips.enhance {
    color: #c60023;
}

.img-con {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #dddddd;
}

.img-con .qr-code {
    width: 100%;
    height: 100%;
}

/* 错误信息 */
.err-tip{
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}
